/* PC端样式 */
@media screen and (min-width: 751px) {
  .article-main{
    width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: stretch;
    justify-content: space-between;
  }

  .article-area{
    /* min-height: clac(100% - 20px); */
    flex-grow: 1;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #fff;
    padding: 30px 30px 40px;
  }

  .article-area .title{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
  }

  .article-area .last-update-time{
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .article-area .author-and-flags{
    display: flex;
    font-size: 16px;
    line-height: 31px;
    margin-bottom: 50px;
  }

  .article-area .author-and-flags .author-box{
    flex-shrink: 0;
    border-left: 2px solid #63B175;
    padding-left: 20px;
  }

  .article-area .author-and-flags .labels{
    flex-grow: 1;
  }

  .article-area .author-and-flags a.author-name,
  .article-area .author-and-flags a.author-name:active,
  .article-area .author-and-flags a.author-name:visited{
    color:#2E8041;
  }
  .article-area .author-and-flags a.author-name:hover{
    text-decoration: underline;
  }

  .article-area .author-and-flags a.label,
  .article-area .author-and-flags a.label:active,
  .article-area .author-and-flags a.label:visited{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    background-color: #63B175;
    padding-left: 10px;
    padding-right: 10px;
  }
  .article-area .author-and-flags a.label:hover{
    background-color: #2E8041;
    text-decoration: none;
  }

  /* 封面图样式 */
  .cover-pic{
    max-width: 820px;
    margin-bottom: 15px;
  }

  /* 广告列 */
  .fiex-ad{
    width: 240px;
    /* min-height: 100%; */
    flex-shrink: 0;
    margin-left: 20px;
    margin-top: 20px;
    /* background-color: blueviolet; */
  }

  .fiex-ad a {
    display: block;
    position: sticky;
    top: 70px;
  }

  .fiex-ad img{
    width: 240px;
  }

}


/* 移动端样式 */
@media screen and (max-width: 750px) {
  .article-main{
    margin: 0 auto;
    width: 96vw;
  }

  /* 封面图样式 */
  .cover-pic{
    max-width: 96vw;
    margin-bottom: 3vw;
  }

  .article-area{
    margin-top: 6vw;
    /* min-height: 100%; */
  }

  .article-area img{
    max-width: 100%;
  }

  .article-area .title{
    font-size: 6vw;
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;
  }

  .article-area .last-update-time{
    font-size: 4vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
  }

  .article-area .author-and-flags{
    /* display: flex; */
    font-size: 4vw;
    line-height: 2;
    margin-bottom: 6vw;
  }

  .article-area .author-and-flags .author-box{
    flex-shrink: 0;
    border-left: 0.5vw solid #63B175;
    padding-left: 6vw;
    margin-bottom: 4vw;
  }

  .article-area .author-and-flags .labels{
    flex-grow: 1;
  }

  .article-area .author-and-flags .labels.text-right{
    text-align: left;
  }

  .article-area .author-and-flags a.author-name,
  .article-area .author-and-flags a.author-name:active,
  .article-area .author-and-flags a.author-name:visited{
    color:#2E8041;
  }
  .article-area .author-and-flags a.author-name:hover{
    text-decoration: underline;
  }

  .article-area .author-and-flags a.label,
  .article-area .author-and-flags a.label:active,
  .article-area .author-and-flags a.label:visited{
    display: inline-block;
    vertical-align: top;
    font-size: 4vw;
    font-weight: bold;
    color:#fff;
    background-color: #63B175;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .article-area .author-and-flags a.label:hover{
    background-color: #2E8041;
    text-decoration: none;
  }

  /* 广告列 */
  .fiex-ad{
    width: auto;
  }

  .fiex-ad img{
    width: 100%;
  }

}