/* PC端样式 */
@media screen and (min-width: 751px) {
  body{
    min-width: 1200px;
    height: 100%;
  }

  /* 顶部固定条样式 */
  .top-fixed {
    height: 50px;
    background-color: #63b175;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .top-fixed * {
    vertical-align: middle;
  }

  .top-fixed .logo-area {
    font-size: 26px;
    line-height: 50px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 3px;
  }

  .top-wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
  }

  .logo-top {
    width: 30px;
    height: 30px;
  }

  .txt-search,
  .txt-search:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    background-color: #63b175;
    width: 250px;
  }

  .txt-search::-webkit-input-placeholder {
    font-style: italic;
  }

  .txt-search::-moz-placeholder {
    font-style: italic;
  }

  .txt-search:-ms-input-placeholder {
    font-style: italic;
  }

  .search-area img {
    width: 24px;
    height: 24px;
  }

  /* 中间内容部分样式 */
  .main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1200px;
    /* min-height: 800px; */
    margin: 50px auto 0;
    padding-top: 60px;
    font-size: 16px;
    box-sizing: border-box;
  }

  /* 按钮样式 */
  .cloumn-item .link-item a.btn-link,
  .cloumn-item .link-item a.btn-link:active,
  .cloumn-item .link-item a.btn-link:visited {
    display: block;
    box-sizing: border-box;
    padding: 8px 18px 10px;
    color: #fff;
    font-size: 15px;
    background-color: #3F3F3F;
    width: 133px;
    border-radius: 3px;
    line-height: 1.5;
  }

  .cloumn-item .link-item a.btn-link:hover {
    background-color: #000;
    text-decoration: none;
  }
  
  .cloumn-item .link-item a.btn-link.green{
    background-color: #63B175;
  }
  .cloumn-item .link-item a.btn-link.green:hover{
    background-color: #2E8041;
  }
  .cloumn-item .link-item a.btn-link.blue{
    background-color: #4976cb;
  }
  .cloumn-item .link-item a.btn-link.blue:hover{
    background-color: #1C499E;
  }

  /* 底部样式 */
  .bottom-info {
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
    background-color: #3c3c3c;
  }

  .bottom-info .info-container {
    background-color: #323232;
    color: #fff;
    width: 1200px;
    font-size: 14px;
    padding: 30px;
    margin: 0 auto;
  }

  .bottom-info .info-container .info,
  .bottom-info .info-container a,
  .bottom-info .info-container a:active,
  .bottom-info .info-container a:visited {
    color: #f4f4f4;
  }

  /* 关于flex */
  .flex-col {
    display: flex; flex-direction: column; height: 100%;
  }

  .flex-item-grow1{
    flex-grow: 1;
  }
}