/* open-sans-300 - latin_latin-ext */
@font-face {
    font-family: 'Asp-font-old';
    font-style: normal;
    font-weight: 300;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/open-sans/open-sans-v15-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
}

/* open-sans-regular - latin_latin-ext */
@font-face {
    font-family: 'Asp-font-old';
    font-style: normal;
    font-weight: 400;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/open-sans/open-sans-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
 }

/* open-sans-600 - latin_latin-ext */
@font-face {
    font-family: 'Asp-font-old';
    font-style: normal;
    font-weight: 600;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/open-sans/open-sans-v15-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
}

/* open-sans-700 - latin_latin-ext */
@font-face {
    font-family: 'Asp-font-old';
    font-style: normal;
    font-weight: 700;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/open-sans/open-sans-v15-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/roboto/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/roboto/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
}

/* Avast fonts */

 @font-face {
    font-family: 'Asp-font';
    font-weight: 700;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/asp-open-sans/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Asp-font';
    font-weight: bold;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/asp-open-sans/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Asp-font';
    font-weight: 800 900;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/asp-open-sans/OpenSans-ExtraBold.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Asp-font';
    font-weight: 300;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/asp-open-sans/OpenSans-Light.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Asp-font';
    font-weight: 500 600;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/asp-open-sans/OpenSans-SemiBold.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Asp-font';
    font-weight: 400;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/asp-open-sans/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Asp-font';
    font-weight: normal;
    src: url('moz-extension://82720891-3ffb-4ae2-a039-4fc368d1890d/common/ui/fonts/asp-open-sans/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}
