<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingmore.mapper.SiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codingmore.model.Site">
        <id column="site_id" property="siteId" />
        <result column="site_name" property="siteName" />
        <result column="site_desc" property="siteDesc" />
        <result column="update_time" property="updateTime" />
        <result column="attribute" property="attribute" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        site_id, site_name, site_desc, domain, tel_name, static_dir,create_user_id,create_time,update_time,attribute
    </sql>

</mapper>
