<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingmore.mapper.UsermetaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codingmore.model.Usermeta">
        <id column="umeta_id" property="umetaId" />
        <result column="user_id" property="userId" />
        <result column="meta_key" property="metaKey" />
        <result column="meta_value" property="metaValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        umeta_id, user_id, meta_key, meta_value
    </sql>

</mapper>
