<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingmore.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codingmore.model.Users">
        <id column="users_id" property="id" />
        <result column="user_login" property="userLogin" />
        <result column="user_pass" property="userPass" />
        <result column="user_nicename" property="userNicename" />
        <result column="user_email" property="userEmail" />
        <result column="user_url" property="userUrl" />
        <result column="user_registered" property="userRegistered" />
        <result column="user_activation_key" property="userActivationKey" />
        <result column="user_status" property="userStatus" />
        <result column="display_name" property="displayName" />
        <result column="user_type" property="userType" />
        <result column="open_id" property="openId" />
        <result column="attribute" property="attribute" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        users_id, user_login, user_pass, user_nicename, user_email, user_url, user_registered, user_activation_key, user_status, display_name, user_type,open_id,attribute
    </sql>

    <sql id="Base_Column_List_No_Password">
        c.users_id, user_login, user_nicename, user_email, user_url, user_registered, user_activation_key, user_status, display_name, user_type,open_id,attribute
    </sql>

    <select id="findByPage" resultType="com.codingmore.model.Users">
        select  DISTINCT <include refid="Base_Column_List_No_Password" />    from users c left join admin_role_relation b  on c.users_id = b.users_id ${ew.customSqlSegment}
    </select>
</mapper>
